body {
    color:white;
}

#reservationsT thead tr{
    color: white;
}

td {
    color: white;
}

.res-row:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.25) !important;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    color: white;
}
