
.main-div {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #182737 !important;
}

.SPA-container {
    width: 100%;
    background-color: #182737 !important;
}

.back-link a {
    color: white;
    text-decoration: none;
}

.back-link a:hover {
    text-decoration: underline;
}

h2{
    color: white;
}