#sittingsT thead {
    position: sticky;
    top: 0;
    z-index: 1;
}

.input-group-text {
    background-color: white;
}

.my-custom-scrollbar {
    position: relative;
    overflow: auto;
    /*border-color: black;*/
    /*border-style: solid;*/
    /*border-width: medium;*/
}

.table-wrapper-scroll-y {
    display: block;
}

#user-feedback{
    width: 100%;
}

#user-feedback p {
    border-radius: 0 !important;
}

#admin-navbar{
    margin-bottom:0 !important;
}

svg {
    width: 30px;
    height: 30px;
}