body {
    color:white;
}

#sittingsT thead tr {
    color: white;
}

td {
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    color: white;
}


#sittingsT thead tr {
    color: white;
}

td {
    color: white;
}

#sittingsTBody tr:hover{
}