@model RRS.Data.Reservation

@{
    ViewData["Title"] = "Create";
}

<h2>Create - Reservation</h2>
<div class="back-link">
    <a asp-action="Index">View Reservations</a>
</div>
<hr />

<div class="main-div">
    <div class="SPA-container">
        <div id='root'></div>
    </div>

</div>

@section Styles{
    <link rel='stylesheet' href='~/css/adminCreateReservationSPA.css' />
    <link rel="stylesheet" href="~/css/admin.reservation.create.css"/>
}
@section Scripts{
    <script src='~/js/adminCreateReservationSPA.js'></script>
}