@model RRS.Data.Reservation

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NoOfGuests" class="control-label"></label>
                <input asp-for="NoOfGuests" class="form-control" />
                <span asp-validation-for="NoOfGuests" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <select asp-for="CustomerId" class ="form-control form-select" asp-items="ViewBag.CustomerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SittingId" class="control-label"></label>
                <select asp-for="SittingId" class ="form-control form-select" asp-items="ViewBag.SittingId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ReservationStatusId" class="control-label"></label>
                <select asp-for="ReservationStatusId" class ="form-control form-select" asp-items="ViewBag.ReservationStatusId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ReservationOriginId" class="control-label"></label>
                <select asp-for="ReservationOriginId" class ="form-control form-select" asp-items="ViewBag.ReservationOriginId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CustomerNotes" class="control-label"></label>
                <input asp-for="CustomerNotes" class="form-control" />
                <span asp-validation-for="CustomerNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

