@model RRS.Data.Reservation

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Reservation</h4>
<hr />

<div>
    <div id='root'></div>
    <div>
        <a asp-action="Index">Back to List</a>  
    </div>
</div>


@section Scripts{
    <link rel='stylesheet' href='~/css/adminCreateReservationSPA.css' />
    <script src='~/js/adminCreateReservationSPA.js'></script>
}