@model RRS.Data.Reservation

@{
    ViewData["Title"] = "Index";
    var reversedDatePart = ViewData["getReservationsByDate"];
}

<h2>Reservations</h2>

<p>
    <a asp-action="Create">Create Reservation</a>
</p>

<hr />


<label class="fw-bold" for="dateControl">Sitting date:</label>
<input type="date" id="dateControl" name="trip-start" value=@reversedDatePart />


<table id="reservationsT" class="table table-striped container-fluid">
    <thead>
        <tr>
            <th class="col-1">Time</th>
            <th class="col-1">Type</th>
            <th class="col-2">Customer</th>
            <th class="col-1">Phone</th>
            <th class="col-1">Guests</th>
            <th class="col-2">Status</th>
            <th class="col-2">Notes</th>
            <th class="col-1"></th>
        </tr>
    </thead>
    <tbody id="reservationsTBody"></tbody>
</table>



@section Styles{
    <link rel="stylesheet" href="~/css/admin.reservation.index.css"/>
}
@section Scripts{
    <script src=~/js/admin.reservation.index.js></script>
}