@model RRS.Areas.Admin.Models.Sittings.SittingsVm

@{
    ViewData["Title"] = "Create";
}

<h1>Create Sitting </h1>

<hr />
<div class="container" >
    <form asp-action="Create">
        <div class="row">
            <div class="col-md-12 m-2" >
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Start" class="control-label"></label>
                    <input id="StartTime" asp-for="Start" class="form-control" />
                    <span asp-validation-for="Start" class="text-danger"></span>
                </div>
                <h5>Duration</h5>
                <div class="form-group">
                    <label asp-for="Hours" class="control-label">Hours</label>
                    <input asp-for="Hours" type="number"  class="form-control" />
                     <span asp-validation-for="Hours" class="text-danger"></span>
                </div>
                <div class="form=-group">
                    <label asp-for="Minutes" class="control-label">Minutes</label>
                    <input id="Minutes" asp-for="Minutes" type="number"  class="form-control" />
                </div>
                <div id="display-time-container" style="display:none">
                    <h5 id="time-container-end"></h5>
                </div>
                <div class="form-group">
                    <label asp-for="Capacity" class="control-label"></label>
                    <input asp-for="Capacity" type="number" class="form-control" />
                    <span asp-validation-for="Capacity" class="text-danger"></span>
                </div>

                @*Old version without info icon*@
@*                <div class="form-group">
                    <label asp-for="Interval" class="control-label"></label>
                    <input asp-for="Interval" type="number" class="form-control" />
                    <span asp-validation-for="Interval" class="text-danger"></span>
                </div>*@

                <label asp-for="Interval" class="control-label"></label> 
                <div class="input-group">        
                    <input asp-for="Interval" type="number" class="form-control" />
                    <span asp-validation-for="Interval" class="text-danger"></span>  
                    <div class="input-group-append">
                        <div class="input-group-text" 
                            title="In minutes, gap between advertised online reservations, e.g., interval of 10 is 9:00AM, 9:10AM, 9:20AM...">
                            <partial name="/Views/Shared/icons/_Info.cshtml" />
                        </div>
                    </div>
                </div>

                @*Old version without info icon*@
@*                <div class="form-group">
                    <label asp-for="CutOff" class="control-label"></label>
                    <input asp-for="CutOff" type="number" class="form-control" />
                    <span asp-validation-for="CutOff" class="text-danger"></span>
                </div>*@

                <label asp-for="CutOff" class="control-label"></label> 
                <div class="input-group">        
                    <input asp-for="CutOff" type="number" class="form-control" />
                    <span asp-validation-for="CutOff" class="text-danger"></span>  
                    <div class="input-group-append">
                        <div class="input-group-text" 
                            title="Minutes prior to the sitting end time that online reservations will be advertised e.g., 9:30AM end time can latest be booked for 9:00AM">
                            <partial name="/Views/Shared/icons/_Info.cshtml" />
                        </div>
                    </div>
                </div>

                <div class="form-group" id="SittingTypeSelect">
                    <label asp-for="SittingTypeId" class="control-label"></label>
                    <select asp-for="SittingTypeId" class="form-control form-select" asp-items="ViewBag.SittingTypeId"></select>
                </div>
                <div id="NewSittingArea" style="display:none">
                    <label asp-for="NewSittingName"  class="control-label"></label>
                    <input id="NewSittingAreaInput" asp-for="NewSittingName" class="form-control" />
                    <span asp-validation-for="NewSittingName" class="text-danger"></span> 
                </div>
                <div>
                    <input id="NewSittingBtn" type="button" class="btn-primary btn m-1" value="New" />
                </div>

                @*Partially working, appends btn to end of dropdown*@
@*                <label asp-for="SittingTypeId" class="control-label"></label>
                <div class="form-group input-group" id="NewSittingArea">
                    <select asp-for="SittingTypeId" class="form-control form-select" asp-items="ViewBag.SittingTypeId"></select>
                    <span asp-validation-for="NewSittingName" class="text-danger"></span> 
                    <input id="NewSittingBtn" class="btn-primary btn" value="New" />
                </div>*@

                <div>
                    <input id="RepeatSittingBtnWeeks" class="btn btn-primary m-1" value="Repeat Sitting" />
                </div>
                <div id="RepeatWeeksContainer"  style="display:none" class="form-group">
                    <div id="day-of-week-container">
                        @foreach (var day in Enum.GetValues(typeof(DayOfWeek)))
                        {
                            <input type="checkbox" class="btn-check" id="cb-day-@(day)" name="cb-day-@(day)" data-day="@(day)" autocomplete="off" />
                            <label class="btn btn-outline-primary m-1" for="cb-day-@(day)">@(day)</label>
                        }
                    </div>
                    <div>
                        <label for="EndDateInput" class="control-label"> Repeat Until </label>
                        <input type="date" id="EndDateInput" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary m-3" />
                </div>
            </div>
        </div>

        <input type="hidden" asp-for="RestaurantId" value="@ViewBag.RestaurantId" />
        <input type="hidden" asp-for="Group" id="Group"  value=@null />
        <input type="hidden" asp-for="Duration" id="Duration"  value=@null />
        <input type="hidden" asp-for="EndDate" id="EndDate" value=@null />
        <input type="hidden" asp-for="SelectedDays" id="SelectedDays" value=@null />
    </form>

</div>

@section Styles{
    <link rel="stylesheet" href="~/css/admin.sitting.create.css"/>
}

@section Scripts{
    <script src="~/js/admin.sitting.create.js"></script>
}