@model RRS.Models.SittingDto

@{
    ViewData["Title"] = "Index";
    string currentDate = DateTime.Now.Date.ToString("yyyy-MM-dd");
    string currentDateTime = DateTime.Now.Date.ToString("yyyy-MM-ddT00:00");
    string reversedDatePart = ViewData["LastSelectedDate"] == null ? currentDate : ViewData["LastSelectedDate"] as string;
}

<h1>Index - Manage Sitting</h1>

<div class="row">

    <div class="col-md-12 m-2">
        <label for="dateControl">Start date:</label>
        <input type="date" id="dateControl" name="trip-start" value="@reversedDatePart" min="@currentDate">

        <table id="sittingsT" class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Start</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Capacity</th>
                    <th scope="col">Open</th>
                    <th scope="col">Type</th>
                    <th scope="col">Interval</th>
                    <th scope="col">Selected</th>
                </tr>
            </thead>
            <tbody id="sittingsTBody"></tbody>
        </table>
    </div>

    <div class="col-md-4 m-2">
        <form method="post" id="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label for="idInput" class="form-label">Id: </label>
                <input class="form-control" disabled id="idInput" value="" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="startInput" class="form-label">Start: </label>
                <input asp-for="Start" class="form-control" id="startInput" value="" min="@currentDateTime" />
                <span asp-validation-for="Start" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="durationInput" class="form-label">Duration: </label>
                <input asp-for="Duration" class="form-control" id="durationInput" value="" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>

            <div class="form-group">              
                <label for="capacityInput" class="form-label">Capacity: </label>
                <input asp-for="Capacity" class="form-control" id="capacityInput" value="" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label for="isOpenInput" class="form-check-label">                   
                    <input type="checkbox" asp-for="IsOpen" class="form-check-input" id="isOpenInput" value="" /> 
                    Open: 
                </label>
            </div>

            <div class="form-group">
                <label asp-for="SittingTypeId" class="control-label">Types: </label>
                <select asp-for="SittingTypeId" id="typeSelectList" class ="form-control" asp-items="ViewBag.SittingTypeId"></select>
            </div>

            <input type="submit" value="Edit" class="btn btn-primary" />
            <input type="submit" value="Delete" class="btn btn-primary" />

            <input asp-for="Id" type="hidden" id="hiddenIdInput"/>
            <input asp-for="SittingTypeId" type="hidden" id="hiddenTypeIdInput"/>
        </form>
    </div>
</div>

@section Scripts{
        <script src=~/js/admin.sitting.index.js></script>
}
