@model RRS.Data.Sitting

@{
    ViewData["Title"] = "Index";

    string[] currentDateTime = DateTime.Now.Date.ToString().Split(' ');
    string[] dateParts = currentDateTime[0].Split('/');
    string reversedDatePart = $"{dateParts[2]}-{dateParts[1]}-{dateParts[0]}";
}

<h1>Index - Manage Sittings</h1>

<div class="row">

    <div class="col-sm-6 m-5">
        <label for="dateControl">Start date:</label>
        <input type="date" id="dateControl" name="trip-start" value=@reversedDatePart> @*Min & Max attributes available*@
        <select id="selectTypes"></select>
    </div>

    <div class="col-sm-6 m-5">
        <select id="selectTypes"></select>
    </div>

    <div class="col-sm-6 m-5">
        <table id="sittingsT" class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Capacity</th>
                    <th scope="col">Is Open</th>
                    <th scope="col">Type</th>
                    <th scope="col">Interval</th>
                    <th scope="col">Selected</th>
                </tr>
            </thead>
            <tbody id="sittingsTBody"></tbody>
        </table>
    </div>

    <div class="col-sm-6 m-5">
        <label for="checkAllGroup">Select all group</label>
        <input id="checkAllGroup" type="checkbox" />
        <br/>
        *Group ID Not Implemented. <br/>
        Must be persisted in sitting entity to be configured*
    </div>

    <div class="col-sm-12 m-5">
        @*Not Implemented*@
        <form method="post">
            <input disabled asp-for="Id" value="81" />
            <input disabled asp-for="Start" />
            <input asp-for="Duration" value="180" />
            <input asp-for="Capacity" value="40" />
            <button asp-area="Admin" asp-controller="Sitting" asp-action="Edit"
                id="updateBttn" class="btn btn-primary">
                Update
            </button>
            <button asp-area="Admin" asp-controller="Sitting" asp-action="Delete" asp-route-id="100"
                id="deleteBttn" class="btn btn-primary">
                Delete
            </button>
        </form>
    </div>
</div>

@section Scripts{
        <script>
        $(() => {
            $("#dateControl").on("click", (e) => {
                $(this).change(() => {

                    const newDate = e.target.value;

                    //Sittings by selected day
                    $.get(`https://localhost:7271/api/Sittings/any/${newDate}/${newDate}`, null, function (data) {

                        $("#sittingsTBody").empty(); //Clashing with checkbox
                        $("#selectTypes").empty();

                        data.forEach((item, index) => {

                            $("#sittingsTBody").append(
                                `<tr>
                                    <td>${item.id}</td>
                                    <td>${item.capacity}</td>
                                    <td>${item.isOpen}</td>
                                    <td>${item.sittingTypeDescription}</td>
                                    <td>(Not yet in entity)</td>
                                    <td><input type="checkbox" class="radio" value="${index}" id="type${index}" name="type${index}" /></td>
                                </tr>`
                            );

                            //$("#selectTypes").append(
                            //    //value should be id so no conflict possibility, e.g., what if same day had multiple of 'x' type sittings
                            //    `<option value="${item.sittingTypeDescription}">${item.sittingTypeDescription}</option>`
                            //);

                        })

                    });
                });
            });

            $("#sittingsTBody").on('change',"input[type='checkbox']",function (e) {
                let temp = e.target.value;
                $(`#type${temp}.radio`).prop("checked", true);
            });



            //$("#updateBttn").on("click", (e) => {
            //    e.preventDefault();
            //    debugger;             
                //AJAX Post doesn't hit action
                //jqXHR (jQuery XMLHttpRequest)
                //$.post("https://localhost:7271/Admin/Sitting/Edit?id=81", 81)               
                //    .done((response, status, jqxhr) => {
                //        debugger;
                //    })
                //    .fail((jqxhr, status, response) => {
                //        debugger;
                //    });
            //});
        })
        </script>
}
