@model IEnumerable<RRS.Data.Sitting>

@{
    ViewData["Title"] = "Index";

    string[] currentDateTime = DateTime.Now.Date.ToString().Split(' ');
    string[] dateParts = currentDateTime[0].Split('/');
    string reversedDatePart = $"{dateParts[2]}-{dateParts[1]}-{dateParts[0]}";
}

<h1>Index</h1>
<h2 id="dateDisplay">@reversedDatePart</h2>

<label for="dateControl">Start date:</label>
<input type="date" id="dateControl" name="trip-start"
       value=@reversedDatePart> @*Min & Max attributes available*@

<h3>Sitting On Selected Day:</h3>
<div id="displaySittings">
    Dummy Sittings
</div>

<h3>Sitting Types On Selected Day:</h3>
<div id="displayTypes">
    Dummy Types
</div>

<a asp-action="ByDate" asp-controller="Sitting" asp-area="Admin" asp-route-date="@reversedDatePart">Details Action</a>

@section Scripts{
    <script>
        $(() => {
            $('#dateControl').on("click", (e) => {
                $(this).change(() => {

                    //Sittings on selected day
                    $.get(`https://localhost:7271/api/Sittings/any/${newDate}/${newDate}`, null, function (data) {    
                        $("#displaySittings").empty();
                        data.forEach((item) => {
                            $("#displaySittings").append(
                                `<div>                                   
                                    <p>Sitting ID:${item.id}</p>
                                </div>`
                            );
                        });
                    });

                    //Types on selected day
                    $.get(`https://localhost:7271/api/Sittings/any/${newDate}/${newDate}`, null, function (data) {    
                        $("#displaySittings").empty();
                        data.forEach((item) => {
                            $("#displaySittings").append(
                                `<div>                                   
                                    <p>Sitting ID:${item.id}</p>
                                </div>`
                            );
                        });
                    });
                });
            });
        })
    </script>
}

                            $("#displayTypes").append(
                                `<div>                                   
                                    <p>Type:${item.id}</p>
                                </div>`
                            );