@model RRS.Data.Sitting

@{
    ViewData["Title"] = "Index";
    string reversedDatePart = DateTime.Now.Date.ToString("yyyy-MM-dd");
}

<h1>Index - Manage Sitting</h1>

<div class="row">

    <div class="col-sm-12 m-5">
        <label for="dateControl">Start date:</label>
        <input type="date" id="dateControl" name="trip-start" value="@reversedDatePart"> @*Min & Max attributes available*@

        <table id="sittingsT" class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Start</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Capacity</th>
                    <th scope="col">Open</th>
                    <th scope="col">Type</th>
                    <th scope="col">Interval</th>
                    <th scope="col">Selected</th>
                </tr>
            </thead>
            <tbody id="sittingsTBody"></tbody>
        </table>
    </div>

    <div class="col-sm-12 m-5">
        <form method="post">
            <label for="idInput" class="form-label">Id: </label>
            <input asp-for="@Model.Id" class="form-control" disabled />
            @*<input class="form-control" disabled id="idInput" />*@

            <label for="startInput" class="form-label">Start: </label>
            <input class="form-control" id="startInput" />

            <label for="durationInput" class="form-label">Duration: </label>
            <input class="form-control" id="durationInput" />

            <label for="capacityInput" class="form-label">Capacity: </label>
            <input class="form-control" id="capacityInput" />

            <label for="isOpenInput" class="form-label">Open: </label>
            <input class="form-control" id="isOpenInput" />

            <label for="typeDescriptionInput" class="form-label">Type: </label>
            <input class="form-control" id="typeDescriptionInput" />

            <button asp-area="Admin" asp-controller="Sitting" asp-action="Edit"
                id="updateBttn" class="btn btn-primary">
                Update
            </button>
            <button asp-area="Admin" asp-controller="Sitting" asp-action="Delete" asp-route-id="100"
                id="deleteBttn" class="btn btn-primary">
                Delete
            </button>
        </form>
    </div>
</div>

@section Scripts{
        <script src=~/js/admin.sitting.index.js></script>
}
