@model RRS.Models.SittingDto

@{
    ViewData["Title"] = "Index";
    string reversedDatePart = DateTime.Now.Date.ToString("yyyy-MM-dd");
}

<h1>Index - Manage Sitting</h1>

<div class="row">

    <div class="col-sm-12 m-5">
        <label for="dateControl">Start date:</label>
        <input type="date" id="dateControl" name="trip-start" value="@reversedDatePart"> @*Min & Max attributes available*@

        <table id="sittingsT" class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Start</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Capacity</th>
                    <th scope="col">Open</th>
                    <th scope="col">Type</th>
                    <th scope="col">Interval</th>
                    <th scope="col">Selected</th>
                </tr>
            </thead>
            <tbody id="sittingsTBody"></tbody>
        </table>
    </div>

    <div class="col-sm-12 m-5">
        <form method="post" id="form">
            <label for="idInput" class="form-label">Id: </label>
            <input class="form-control" disabled id="idInput" value="" />

            <label for="startInput" class="form-label">Start: </label>
            <input asp-for="Start" class="form-control" id="startInput" value="" />

            <label for="durationInput" class="form-label">Duration: </label>
            <input asp-for="Duration" class="form-control" id="durationInput" value="" />

            <label for="capacityInput" class="form-label">Capacity: </label>
            <input asp-for="Capacity" class="form-control" id="capacityInput" value="" />

            <label for="isOpenInput" class="form-label">Open: </label>
            <input type="text" asp-for="IsOpen" class="form-control" id="isOpenInput" value="" />

            <label for="typeDescriptionInput" class="form-label">Type: </label>
            <input asp-for="SittingTypeDescription" class="form-control" id="typeDescriptionInput" />

            <input type="submit" value="Edit" class="btn btn-primary" />
            <input type="submit" value="Delete" class="btn btn-primary" />
@*            <button asp-area="Admin" asp-controller="Sitting" asp-action="Delete" asp-route-id="100"
                id="deleteBttn" class="btn btn-primary">
                Delete
            </button>*@

            <input asp-for="Id" type="hidden" id="hiddenIdInput"/>
            <input asp-for="SittingTypeDescriptionId" type="hidden" id="hiddenTypeDescriptionInput"/>
        </form>
    </div>
</div>

@section Scripts{
        <script src=~/js/admin.sitting.index.js></script>
}
