@model IEnumerable<RRS.Data.Sitting>

@{
    ViewData["Title"] = "Index";

    string[] currentDateTime = DateTime.Now.Date.ToString().Split(' ');
    string[] dateParts = currentDateTime[0].Split('/');
    string reversedDatePart = $"{dateParts[2]}-{dateParts[1]}-{dateParts[0]}";
}

<h1>Index</h1>
<h2 id="dateDisplay">@reversedDatePart</h2>

<label for="dateControl">Start date:</label>
<input type="date" id="dateControl" name="trip-start"
       value=@reversedDatePart> @*Min & Max attributes available*@

<a asp-action="Details" asp-controller="Sitting" asp-area="Admin">Details Action</a>

@section Scripts{
    <script>
        $(() => {
            $('#dateControl').on("click", (e) => {
                $(this).change(() => {
                    let newDate = e.target.value; 
                    $("#dateDisplay").text(`${newDate}`)
                });
            });
        })
    </script>
}
