@model RRS.Data.Sitting

@{
    ViewData["Title"] = "Index";

    string[] currentDateTime = DateTime.Now.Date.ToString().Split(' ');
    string[] dateParts = currentDateTime[0].Split('/');
    string reversedDatePart = $"{dateParts[2]}-{dateParts[1]}-{dateParts[0]}";
}

<h1>Index - Manage Sittings</h1>

<div class="row">

    <div class="col-sm-12 m-5">
        <label for="dateControl">Start date:</label>
        <input type="date" id="dateControl" name="trip-start" value=@reversedDatePart> @*Min & Max attributes available*@

        <table id="sittingsT" class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Capacity</th>
                    <th scope="col">Is Open</th>
                    <th scope="col">Type</th>
                    <th scope="col">Interval</th>
                    <th scope="col">Selected</th>
                </tr>
            </thead>
            <tbody id="sittingsTBody"></tbody>
        </table>
    </div>

    <div class="col-sm-12 m-5">
        <form method="post">
            <input class="form-control" disabled id="idInput" />
            <input class="form-control" id="startInput" />
            <input class="form-control" id="durationInput" />
            <input class="form-control" id="capacityInput" />
            <button asp-area="Admin" asp-controller="Sitting" asp-action="Edit"
                id="updateBttn" class="btn btn-primary">
                Update
            </button>
            <button asp-area="Admin" asp-controller="Sitting" asp-action="Delete" asp-route-id="100"
                id="deleteBttn" class="btn btn-primary">
                Delete
            </button>
        </form>
    </div>
</div>

@section Scripts{
        <script src=~/js/admin.sitting.index.js></script>
}
