@model RRS.Data.Sitting

@{
    ViewData["Title"] = "Invalid request";
}

<h1>Invalid request</h1>

<h5>The sitting you tried to delete has existing reservations. </br> This request is not permitted.</h5>