@model ErrorViewModel
@{
    ViewData["Title"] = "Not Found";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-8">
    </div>
    <div id="bean-error-container" class="col-4">
        <h1 id="main-header">404</h1>
        <p><i>'Ecce homo qui est faba'</i></p>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/shared.beanError.css" /> 
}
