@page
@model RRS.Areas.Identity.Pages.Account.Manage.ReservationsModel
@{
    ViewData["Title"] = "Manage Reservations";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

