@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div id="register-row" class="row">
    <div id="register-left-col" class="col-md-4 m-auto text-center">
        <p id="register-slogan">I've bean<br />thinking about<br />you</p>
    </div>
    <div class="col-md-4 m-auto">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            @if(ViewData["PersonExists"] != null)
            {
                @if((bool)ViewData["PersonExists"])
                {
                    <input type="hidden" asp-for="Input.NewFormReturned" value="true"/>
                    <partial name="_ExistingCustRegistration.cshtml" />
                }
                else
                {
                    <partial name="_NewCustRegistration.cshtml" />
                    <input type="hidden" asp-for="Input.NewFormReturned" value="true"/>
                }   
            }
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>          
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
