@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div id="register-row" class="row mt-5">
    <div id="register-left-col" class="col-12 col-lg-5 m-auto text-center my-2">
        <div class="video-container">   
@*            <video autoplay muted loop>
                <source src="~/videos/production ID_4820204.mp4" type="video/mp4" />
            </video>*@
            <img id="video-static" src="~/images/video-static/coffee-mixer.png" />
            <div id="register-slogan-container">
                <p id="register-slogan">You and I are<br />meant to<br />bean</p>
            </div>
        </div>
    </div>
    <div id="register-right-col" class="col-12 col-lg-5 m-auto my-2">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
            <div class="form-floating my-2">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            @if(ViewData["PersonExists"] != null)
            {
                @if((bool)ViewData["PersonExists"])
                {
                    <input type="hidden" asp-for="Input.NewFormReturned" value="true"/>
                    <partial name="_ExistingCustRegistration.cshtml" />
                }
                else
                {
                    <partial name="_NewCustRegistration.cshtml" />
                    <input type="hidden" asp-for="Input.NewFormReturned" value="true"/>
                }   
            }
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>          
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
