@{
    ViewData["Title"] = "Welcome";
}

<div id="site-home-container" class="">
    <span class="site-main-header">Bean<br/><em>Scene</em></span>

    <div class="glass-container">
        <p id="site-res-btn-container-text">Reservation</p>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/site.home.index.css" /> 
}