@{
    ViewData["Title"] = "Privacy Policy";
}

<div id="privacy-row" class="row">
    <div id="privacy-left-col" class="col-12 col-lg-5 m-auto text-center my-2">
        <div class="video-container">   
            <video preload="metadata">
                <source src="~/videos/oops-man.mp4" type="video/mp4" />
            </video>
            <div id="privacy-container">
                <p id="privacy-slogan">Cool<br />beans</p>
            </div>
        </div>
    </div>
    <div id="privacy-right-col" class="col-12 col-lg-5 m-auto my-2">
        <section>
            <form id="privacy-form" method="post">
                <h2>@ViewData["Title"]</h2>
                <hr />
                <div class="my-4">
                    <label class="mb-2"><b>WHAT INFORMATION DO WE COLLECT?</b></label>
                    <p>
                        Different types of personal data are collected, used, and stored by us. The first and last names are included in the identity data. Email addresses and phone numbers are included in the Contact Data. Details of your correspondence with us are included in the Correspondence Data (including reservation instructions recorded online or over the telephone, and any complaints you have made to our customer services team). Your login information and time zone setting are included in your technical data. Your login and password, reservations made by you, profile avatar settings, and feedback are all part of your profile data.
                    </p>
                </div>
                <div class="my-4">
                    <label class="mb-2"><b>HOW DO WE USE THE INFORMATION?</b></label>
                    <p>
                        Information (for members) is used to provide account services, such as prefilled reservation data. For all customers it is utilised for tracking past and upcoming reservations.
                    </p>
                </div>
                <div class="my-4">
                    <label class="mb-2"><b>WHAT INFORMATION DO WE SHARE?</b></label>
                    <p>We do not share any of your personal information.</p>
                </div>
                <div class="my-4">
                    <a id="privacy-btn" class="btn btn-lg" asp-area="" asp-controller="Home" asp-action="Index">Book Now</a>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


@section Styles {
    <link rel="stylesheet" href="~/css/site.privacy.css" /> 
}
