
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

 <div class="row justify-content-center" >
        <a class="btn btn-success col-3 m-4" asp-area="Admin" asp-controller="Employee" asp-action="Register">Register Employees</a>
 </div>


 <div>
     

 </div>

