
@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <div class="row">

    <div class="col justify-content-center text-center">
        <h1 class="col-3 justify-content-center text-center">Reservations</h1>
            <div class="row justify-content-center">
                <a class="btn btn-primary col-6 " asp-area="Admin" asp-controller="Reservation" asp-action="Index">Manage Reservations</a>
            <div class="row justify-content-center">
                <a class="btn btn-success col-6 " asp-area="Admin" asp-controller="Reservation" asp-action="Create">Create Reservations</a>
            </div>
        </div>


        <h1 class="col-3  text-center">Tables</h1>
        <div class="row justify-content-center">
            <a class="btn btn-success col-6 " asp-area="Admin" asp-controller="Table" asp-action="Index">Reserve Tables</a>
        </div>
    </div>

    <div class="col justify-content-center text-center"> 

        <h1 class="col-3  text-center">Employees</h1>
            <div class="row justify-content-center">
                <a class="btn btn-primary col-6 " asp-area="Admin" asp-controller="Sitting" asp-action="Edit">Manage Sittings</a>
            </div>
            <div class="row justify-content-center">
                <a class="btn btn-success col-6" asp-area="Admin" asp-controller="Sitting" asp-action="Create">Create Sittings</a>
            </div>

        <h1 class="col-3">Sittings</h1>
            <div class="row justify-content-center">
                <a class="btn btn-success col-6" asp-area="Admin" asp-controller="Employee" asp-action="Register">Create Employees</a>
            </div>
            <div class="row justify-content-center">
                <a class="btn btn-primary col-6" asp-area="Admin" asp-controller="Employee" asp-action="Index">Manage Employees</a>
            </div>
    </div>
  
    </div>
</div>


