
@{
    ViewData["Title"] = "Index";
}

<h1>Admin Index</h1>

   <a class="nav-link text-dark" asp-area="Admin" asp-controller="Reservation" asp-action="Index">Manage Reservations</a>
   <a class="nav-link text-dark" asp-area="Admin" asp-controller="Sitting" asp-action="Edit">Manage Sittings</a>
   <a class="nav-link text-dark" asp-area="Admin" asp-controller="Reservation" asp-action="Create">Create Reservations</a>
   <a class="nav-link text-dark" asp-area="Admin" asp-controller="Sitting" asp-action="Create">Create Sittings</a>
