
@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <div class="row justify-content-evenly">
        <h1 class="col-3">Reservations</h1>
        <h1 class="col-3">Sittings</h1>
        <h1 class="col-3">Employees</h1>
    </div>
    
    <div class="row justify-content-evenly py-2">
        <a class="btn btn-primary col-3" asp-area="Admin" asp-controller="Reservation" asp-action="Index">Manage Reservations</a>
        <a class="btn btn-primary col-3" asp-area="Admin" asp-controller="Sitting" asp-action="Edit">Manage Sittings</a>
        <a class="btn btn-primary col-3" asp-area="Admin" asp-controller="Employee" asp-action="Register">Register Employees</a>
    </div>
    
    <div class="row justify-content-evenly">
        <a class="btn btn-success col-3" asp-area="Admin" asp-controller="Reservation" asp-action="Create">Create Reservations</a>
        <a class="btn btn-success col-3" asp-area="Admin" asp-controller="Sitting" asp-action="Create">Create Sittings</a>
        <a class="btn btn-success col-3" asp-area="Admin" asp-controller="Employee" asp-action="Index">Manage Employees</a>
    </div>
      
</div>


